@import url("https://fonts.googleapis.com/css?family=Diplomata|Bitter&display=swap");

:root {
	--color-bg: lightgrey;
	--color-bg-second: #fff;
	--font-primary: "Bitter", serif;
	--font-fun: "Diplomata", serif;
	--font-color-primary: #000;
	--active-color: yellow;
	--focus-color: orange;
}
